#scrollBar {
    width: min(4.7rem, 12.53vw);
    left: min(calc(20.625rem + 8vw), 63vw);
}

.misc_back {
    cursor: pointer;
}

#mainBody {
	background: #202020;
	margin-top: min(8.4rem, 22.43vw);
}		

#industry {
	background: #003366;
}		

#teaching {
	background: #744249;
}		

#dcl {
	background: #000000;
}		

#research {
	background: #909090;
}		


#misc {
	background: #195d19;
}		

#composition {
	background: #202020;
}		

#mhm {
	background: #202020;
}

#cib_sections {

}

.cib_alt {

}
