#scrollBar {
    width: min(6.15rem, 16.4vw);
    left: min(calc(20.2rem + 8vw), 62vw);
}

.occupied {
    background: #cc7c7c;
    color: white;
}

.vacant.weekend {
    background: #9ee5b0;
    color: black;
}

.vacant:hover {
    cursor: pointer;
}

.vacant.weekend:hover {
    background: #55c671;
}

.vacant.weekday {
    background: #86b9f0;
    color: black;
}

.vacant.weekday:hover {
    background: #4e91d8;
}

.elapsed {
    background: #666666;
    color: white;
}

.unavailable {
    background: #525252;
    color: white;
}

.widget table {
    /*! float: center; */
}

.widget table tr td {
	font-family: Laksaman, Sans-Serif;
	color: white;
    overflow-y: scroll;
}

.schedule-entry {
    white-space: nowrap;
}

#scope-block td {
    width: min(23.8rem, 63.54vw);
    display: inline-block;
}

.logo img {
    width: 60%;
}

#mainBody {
    margin-top: min(8.4rem, 22.43vw);
}

#intro {
    background: #A41034;
}

#about-me {
    background: #202020;
}

#scope {
    background: #CC0000;
}

#scope-block {
    display: inline-block;
}

#scope-block p {
    width: 100%;
}

#philosophy {
    background: #BC9B6A;
}

#rates {
    background: #C8102E;

}

#schedule {
    background: #202020;
    width: 100%;
}

#philosophy p {
    color: black;
}

#contact {
    background: #750014;
}

#about-website {
    background: #202020;
}


.logo img {
    float: center;
}

.building {
    margin: 0px;
}
