@font-face {font-family: Laksaman;src:url(/Laksaman.ttf);}

#scrollBar {
    width: min(6.15rem, 16.4vw);
    left: min(calc(20.2rem + 8vw), 62vw);
}

.occupied {
    background: #cc7c7c;
    color: white;
}

.vacant.weekend {
    background: #9ee5b0;
    color: black;
}

.vacant:hover {
    cursor: pointer;
}

.vacant.weekend:hover {
    background: #55c671;
}

.vacant.weekday {
    background: #86b9f0;
    color: black;
}

.vacant.weekday:hover {
    background: #4e91d8;
}

.elapsed {
    background: #666666;
    color: white;
}

.unavailable {
    background: #525252;
    color: white;
}

.widget table {
    float: center;
    margin: min(1.62rem, 4.32vw);
}

.widget table tr td {
	font-family: Laksaman, Sans-Serif;
	font-size: min(1.2rem, 3.2vw);
	color: white;
    overflow-y: scroll;
}

.schedule-entry {
    white-space: nowrap;
}

#scope td {
    font-size: max(0.5rem, max(1vw, min(1.2rem, 3.46vw)));
    width: min(23.8rem, 63.54vw);
    display: inline-block;
}

#schedule-table tr td {
    border-radius: 4px;
    width: min(16.05rem, 42.85vw);
    padding: min(0.3rem, .801vw);
    text-align: center;
    font-size: max(0.5rem, min(1.2rem, 2.4vw));
}

.schedule_entry {
    width: 95%;
    height: 95%;
    margin: 5px;
    font-size: min(3.56rem, 9.51vw);
}

.vacant, .occupied, .unavailable, .elapsed {
    border: 2px solid black;
}

.schedule-pad {
    border: 2px solid transparent;
}

#weeks {
    width: calc(100% - min(1.75rem, 4.67vw););
    display: flex;
    justify-content: space-around;
}

#weeks > div {
    font-size: max(0.5rem, min(1.2rem, 2.3vw));
    text-align: center;
}

#weeks > div, #book-button {
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: white;
    font-family: Laksaman, Sans-Serif;
}

#weeks div:hover {
    background: #404040;
}

#book-button:hover {
    background: #ffffff60;
}

.logo img {
    width: 60%;
}

#intro {
    background: #A41034;
    margin-top: min(8.4rem, 22.43vw);
}

#about-me {
    background: #202020;
}

#scope {
    background: #CC0000;
}

#scope-block {
    width: 60%;
    display: inline-block;
}

#scope-block p {
    width: 100%;
}

#philosophy {
    background: #BC9B6A;
}

#rates {
    background: #C8102E;

}

#schedule {
    background: #202020;
    width: 100%;
}

#philosophy p {
    color: black;
}

#contact {
    background: #750014;
}

#about-website {
    background: #202020;
}


.logo img {
    float: center;
}

.building {
    margin: 0px;
}
